altgraph
contourpy
cycler
fonttools
kiwisolver
matplotlib
numpy
opencv-python
opencv-python-headless
packaging
pillow
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
setuptools
six
pandas
ultralytics
openpyxl
scipy
seaborn